<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %p %l:%m%n"/>
		</layout>
	</appender>
	
	<appender name="userManagerAppender" class="org.apache.log4j.appender.TimeAndSizeRollingAppender">
		<param name="File" value="d:/logs/spmb.log" />
		<param name="MaxFileSize" value="10MB" />
		<param name="DateRollEnforced" value="true"/>
        <param name="ScavengeInterval" value="-1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %p %l:%m%n" />
		</layout>
	</appender>
	
	<logger name="com.scxh" additivity="false">
		<level value="error" />
		<appender-ref ref="userManagerAppender" /> 
	</logger>
	
	<logger name="org" additivity="false">
		<level value="error" />
		<appender-ref ref="userManagerAppender" /> 
	</logger>
	
	<logger name="com.opensymphony.xwork2.util.logging.commons" additivity="false">
		<level value="error" />
		<appender-ref ref="userManagerAppender" /> 
	</logger>
	
	<logger name="com.mchange.v2" additivity="false">
		<level value="error" />
		<appender-ref ref="userManagerAppender" /> 
	</logger>
	
	<root>
	    <level value="error" />
		<appender-ref ref="Console"/>
	</root>
</log4j:configuration> 